@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');

body{
    font-family: "Copse",serif;
    color: #44586e;
}

/* J'utilise perso pour définir une class qui ne fait pas partie de bootstrap */
.perso_policeTitre{font-family: 'Fredoka One', cursive;}

.perso_shadow{box-shadow: 0px 2px 15px black;}

.perso_logoSize{width: 100px;}

.perso_ColorRoseMenu{color: #FF00FF !important;}
.perso_ColorOrangeMenu{color: rgb(247,179, 91) !important;}
.perso_ColorVertMenu{color: #34C924 !important;}
.perso_ColorRougeMenu{color: rgb(230, 78, 78) !important;}
.perso_ColorBleuCielMenu{color: #40E0D0 !important;}

.perso_size20{font-size: 20px;}
